@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;

  --color-white: #fff;
  --color-black: #000;
  --color-green-50: #c6ff00;
  --color-green-100: #c0de56;

  /* --animate-loop-scroll: loop-scroll 15s linear infinite; */

  @keyframes loop-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@layer base {
  html {
    font-family: var(--font-outfit);
    -webkit-font-smoothing: antialiased;
  }
}

@utility paused {
  animation-play-state: paused;
}

@utility wrapper {
  @apply mx-auto w-full max-w-7xl px-6 md:px-12 lg:px-16;
}
