---
import Heading from "../Heading.astro";
---

<section class="wrapper" id="workflow">
  <Heading
    heading="How I Work."
    subText="Building, shipping, and maintaining frontend code together with cross-functional teams."
  />

  <div>
    <button
      class="py-1.5 px-3.5 border border-black rounded-full text-[14px] flex items-center gap-1.5 cursor-pointer"
    >
      <span class="material-symbols-outlined text-[#FFA000] text-[14px]!"
        >calendar_clock</span
      >
      Planning
    </button>
  </div>
</section>
