---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import SectionExperience from "../components/sections/Experience.astro";
import SectionAbout from "../components/sections/About.astro";
import Marquee from "../components/Marquee.astro";
import Navbar from "../components/Navbar.astro";
import SectionHeader from "../components/sections/Header.astro";
import SectionTechStack from "../components/sections/TechStack.astro";
import SectionWorkflow from "../components/sections/Workflow.astro";
import Footer from "../components/Footer.astro";

const marqueeList = [
  "Based in Goa, India",
  "4+ years of Experience",
  "Vue / React / Typescript",
  "Agile Teams",
  "Open to opportunities",
  "Guitar enthusiast",
];

const anchors = [
  { id: "about", text: "About" },
  { id: "experience", text: "Experience" },
  { id: "tech-stack", text: "Tech Stack" },
  { id: "workflow", text: "Workflow" },
];
---

<Layout>
  <Marquee list={marqueeList} />
  <Navbar anchors={anchors} />

  <SectionHeader />
  <div class="flex flex-col gap-30 lg:gap-30 pb-40">
    <SectionAbout />
    <SectionExperience />
    <SectionTechStack />
    <SectionWorkflow />
    <Footer />
  </div>
</Layout>

<script src="../scripts/title.js"></script>
