---
interface Props {
  id?: string;
  text?: string;
  variant?: "default" | "inverted";
  size?: "default" | "small";
  icon?: string;
  iconPosition?: "left" | "right" | "iconOnly";
  class?: string;
  rest?: any;
}

const {
  id,
  text,
  variant = "default",
  size = "default",
  icon,
  iconPosition = "left",
  class: className,
  ...rest
} = Astro.props;

const isIconOnly = iconPosition === "iconOnly";

const variantClasses = {
  default: "bg-black text-white hover:bg-gray-800",
  inverted: "bg-white text-black border border-black hover:bg-gray-100",
};

const sizeClasses = {
  default: "py-2.5 px-4",
  small: "py-1.5 px-3",
};

const iconOnlysizeClasses = {
  default: "p-4",
  small: "p-2",
};
---

<button
  class:list={[
    "rounded-full inline-flex items-center justify-center cursor-pointer transition-colors",
    size === "small" ? "gap-1" : "gap-2",
    variantClasses[variant],
    isIconOnly ? iconOnlysizeClasses[size] : sizeClasses[size],
    className,
  ]}
  id={id}
  {...rest}
>
  {
    icon && (iconPosition === "left" || isIconOnly) && (
      <span
        class:list={[
          "material-symbols-outlined text-green-50",
          size === "small" ? "text-[14px]!" : "text-[18px]!",
        ]}
      >
        {icon}
      </span>
    )
  }

  {
    !isIconOnly && (
      <span class={size === "small" ? "text-[12px]" : "text-[14px]"}>
        {text}
      </span>
    )
  }

  {
    icon && iconPosition === "right" && (
      <span
        class:list={[
          "material-symbols-outlined text-green-50",
          size === "small" ? "text-[14px]!" : "text-[18px]!",
        ]}
      >
        {icon}
      </span>
    )
  }
</button>
