---
const year = new Date().getFullYear();
---

<footer
  class="wrapper py-8 flex items-center justify-between font-medium text-[14px] fixed bottom-0 left-0 right-0 z-20 pointer-events-none"
>
  <a
    href="https://www.linkedin.com/in/someone/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Visit my LinkedIn profile"
    class="px-2 py-1 rounded-lg bg-white/75 backdrop-blur-md pointer-events-auto transition-transform hover:scale-[1.1]"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 26 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <path
        d="M23.5625 3.4375C24.5254 3.4375 25.375 4.28711 25.375 5.30664V27C25.375 28.0195 24.5254 28.8125 23.5625 28.8125H1.75586C0.792969 28.8125 0 28.0195 0 27V5.30664C0 4.28711 0.792969 3.4375 1.75586 3.4375H23.5625ZM7.64648 25.1875V13.123H3.9082V25.1875H7.64648ZM5.77734 11.4238C6.9668 11.4238 7.92969 10.4609 7.92969 9.27148C7.92969 8.08203 6.9668 7.0625 5.77734 7.0625C4.53125 7.0625 3.56836 8.08203 3.56836 9.27148C3.56836 10.4609 4.53125 11.4238 5.77734 11.4238ZM21.75 25.1875V18.5605C21.75 15.332 21.0137 12.7832 17.2188 12.7832C15.4062 12.7832 14.1602 13.8027 13.6504 14.7656H13.5938V13.123H10.0254V25.1875H13.7637V19.2402C13.7637 17.6543 14.0469 16.125 16.0293 16.125C17.9551 16.125 17.9551 17.9375 17.9551 19.2969V25.1875H21.75Z"
        fill="#202124"></path>
    </svg>
  </a>

  <span
    class="flex items-center gap-px px-2 py-1 rounded-lg bg-white/75 backdrop-blur-md pointer-events-auto"
  >
    <svg
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <g clip-path="url(#clip0_87_251)">
        <path
          d="M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z"
          stroke="black"
          stroke-width="1.43"></path>
        <path
          d="M14.2866 9.66335C14.046 8.98274 13.3969 8.49512 12.6339 8.49512H11.4657C10.4979 8.49512 9.71338 9.27967 9.71338 10.2475V13.7521C9.71338 14.7199 10.4979 15.5045 11.4657 15.5045H12.6339C13.3969 15.5045 14.046 15.0168 14.2866 14.3363"
          stroke="black"
          stroke-width="1.43"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </g>
      <defs>
        <clipPath id="clip0_87_251">
          <rect width="24" height="24" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
    BOYD{year}
  </span>
</footer>
