---
import Button from "./Button.astro";
import Logo from "./Logo.astro";

interface Props {
  anchors: { id: string; text: string }[];
  class?: string;
}

const { anchors, class: className } = Astro.props;
---

<nav class:list={["flex items-center gap-12 py-8", className]}>
  <Logo width="70" />

  <ul class="flex items-center gap-8 text-black text-[16px] font-medium">
    {
      anchors.map((anchor) => (
        <li class="group hover:text-green-100">
          <a href={`#${anchor.id}`}>
            <span class="opacity-0 group-hover:opacity-100 transition-opacity">
              #
            </span>
            {anchor.text}
          </a>
        </li>
      ))
    }
  </ul>

  <Button
    class="ml-auto"
    text="Let's Connect"
    icon="mail"
    iconPosition="left"
  />
</nav>
