---
import Button from "./Button.astro";
import Logo from "./Logo.astro";

interface Props {
  anchors: { id: string; text: string }[];
}

const { anchors } = Astro.props;
---

<nav
  class="wrapper flex items-center gap-12 py-4 sticky top-0 z-10 bg-white/95 backdrop-blur-xs"
>
  <a href="/">
    <Logo width="70" />
  </a>

  <ul
    class="hidden lg:flex items-center gap-8 text-black text-[16px] font-medium"
  >
    {
      anchors.map((anchor) => (
        <li class="group hover:text-green-100 transition-colors">
          <a href={`#${anchor.id}`} class="nav-link flex items-center gap-0.5">
            <span class="hash opacity-0 group-hover:opacity-100 transition-opacity">
              #
            </span>
            {anchor.text}
          </a>
        </li>
      ))
    }
  </ul>

  <Button
    class="ml-auto"
    type="link"
    href="mailto:boydenpires@gmail.com"
    text="Let's Connect"
    icon="mail"
    iconPosition="left"
  />
</nav>

<script>
  const navLinks = document.querySelectorAll(".nav-link");
  const sections = document.querySelectorAll("section[id]");

  const observerOptions = {
    root: null,
    rootMargin: "-45% 0px -45% 0px",
    threshold: 0,
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const id = entry.target.getAttribute("id");
      const link = document.querySelector(`.nav-link[href="#${id}"]`);

      if (!link) return;

      if (entry.isIntersecting) {
        // Section is in the middle of the screen: Make it active

        // Clear active state from all links
        navLinks.forEach((l) => {
          l.parentElement?.classList.remove("text-green-100");
          l.querySelector(".hash")?.classList.remove("opacity-100");
        });

        // Set active state for the current link
        link.parentElement?.classList.add("text-green-100");
        link.querySelector(".hash")?.classList.add("opacity-100");
      } else {
        // Section left the middle of the screen: Remove its active state
        link.parentElement?.classList.remove("text-green-100");
        link.querySelector(".hash")?.classList.remove("opacity-100");
      }
    });
  }, observerOptions);

  sections.forEach((section) => {
    observer.observe(section);
  });
</script>
