---
interface Props {
  direction: "left" | "right";
}

const { direction } = Astro.props;
---

<button
  data-direction={direction}
  aria-label={direction === "left" ? "Scroll experience cards left" : "Scroll experience cards right"}
  aria-controls="experienceContainer"
  class:list={[
    "border border-black rounded-full py-2 px-5 transition-all cursor-pointer hover:bg-green-10",
    direction === "left" ? "hover:-translate-x-0.5" : "hover:translate-x-0.5",
  ]}
>
  {
    direction === "left" && (
      <svg
        width="22"
        height="22"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M15.612 19.737C15.5481 19.801 15.4723 19.8518 15.3887 19.8865C15.3052 19.9211 15.2157 19.939 15.1252 19.939C15.0348 19.939 14.9453 19.9211 14.8617 19.8865C14.7782 19.8518 14.7023 19.801 14.6385 19.737L6.38849 11.487C6.32446 11.4231 6.27367 11.3473 6.23901 11.2637C6.20435 11.1802 6.18651 11.0907 6.18651 11.0002C6.18651 10.9098 6.20435 10.8203 6.23901 10.7367C6.27367 10.6532 6.32446 10.5773 6.38849 10.5135L14.6385 2.26349C14.7676 2.13439 14.9427 2.06187 15.1252 2.06187C15.3078 2.06187 15.4829 2.13439 15.612 2.26349C15.7411 2.39258 15.8136 2.56767 15.8136 2.75024C15.8136 2.9328 15.7411 3.10789 15.612 3.23699L7.84736 11.0002L15.612 18.7635C15.676 18.8273 15.7268 18.9032 15.7615 18.9867C15.7961 19.0703 15.814 19.1598 15.814 19.2502C15.814 19.3407 15.7961 19.4302 15.7615 19.5137C15.7268 19.5973 15.676 19.6731 15.612 19.737Z"
          fill="black"
        />
      </svg>
    )
  }
  {
    direction === "right" && (
      <svg
        width="22"
        height="22"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.38801 2.26301C6.45188 2.19899 6.52774 2.14819 6.61127 2.11353C6.69479 2.07888 6.78433 2.06104 6.87476 2.06104C6.96519 2.06104 7.05474 2.07888 7.13826 2.11353C7.22178 2.14819 7.29765 2.19899 7.36151 2.26301L15.6115 10.513C15.6755 10.5769 15.7263 10.6527 15.761 10.7363C15.7957 10.8198 15.8135 10.9093 15.8135 10.9998C15.8135 11.0902 15.7957 11.1797 15.761 11.2633C15.7263 11.3468 15.6755 11.4227 15.6115 11.4865L7.36151 19.7365C7.23242 19.8656 7.05733 19.9381 6.87476 19.9381C6.6922 19.9381 6.51711 19.8656 6.38801 19.7365C6.25892 19.6074 6.1864 19.4323 6.1864 19.2498C6.1864 19.0672 6.25892 18.8921 6.38801 18.763L14.1526 10.9998L6.38801 3.23651C6.32399 3.17265 6.27319 3.09679 6.23853 3.01326C6.20387 2.92974 6.18604 2.84019 6.18604 2.74976C6.18604 2.65933 6.20387 2.56979 6.23853 2.48627C6.27319 2.40274 6.32399 2.32688 6.38801 2.26301Z"
          fill="black"
        />
      </svg>
    )
  }
</button>
